@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Nexa Light';
    src: url('../fonts/Nexa Light/Nexa Light.ttf') format('ttf'), url('../fonts/Nexa Light/Nexa Light.ttf') format('eot'), url('../fonts/Nexa Light/Nexa Light.otf') format('otf'), url('../fonts/Nexa Light/Nexa Light.woff') format('woff'), url('../fonts/Nexa Light/Nexa Light.svg') format('svg');
}
@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Nexa Bold'; 
    src: url('../fonts/Nexa Bold/Nexa Bold.ttf') format('ttf'), url('../fonts/Nexa Bold/Nexa Bold.eot') format('eot'), url('../fonts/Nexa Bold/Nexa Bold.otf') format('otf'), url('../fonts/Nexa Bold/Nexa Bold.woff') format('woff'), url('../fonts/Nexa Bold/Nexa Bold.svg') format('svg');
}
@font-face {
    font-weight: 300;
    font-style: normal;
    font-family: 'Open Sans'; 
    src: url('../fonts/open-sans/OpenSans-Light.ttf') format('ttf'), url('../fonts/open-sans/OpenSans-Light.eot') format('eot'), url('../fonts/open-sans/OpenSans-Light.otf') format('otf'), url('../fonts/open-sans/OpenSans-Light.woff') format('woff');
}
html {
	font-size: 16px;
}

body {
	background: #ffffff;
	font-family: 'Nexa Light';
	color: #202020;
	font-size: 1rem;
	text-transform: uppercase;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a:hover, a:focus {
	text-decoration: none;
}
.container-centered {
	margin: 0 auto;
	width: 96.3%;
}

.background-wrapper {
	background: #202020 url(../image/j-wood-bg.jpg) no-repeat;
  	width: 100%;
  	height: 100%;
  	background-size: cover;
}
.main-header {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 145px;
}
.main-nav {
	background: none;
	border: none;

}
h1 {
	font-size: 1.5rem;
    color: #f1f1f1;
	margin-bottom: 70px;
}

.container-fluid {
	padding: 0;
}

	@media (min-width: 769px) {

	body {
	font-size: 1.5rem;
	}
	.main-nav, .site-nav {
	padding: 40px 0;
	}
	.main-nav__main-navigation li {
	margin-right: 50px;
    }
   .main-nav__main-navigation li:last-child {
    margin-right: 0;
}
   .flex-centered {
	display: flex;
	justify-content: center;
}
    .navbar-brand {
    display: none;
    }

	.scroll-link span {
	font-size: 1.125rem;
	font-family: 'Nexa Bold';
	}

    h1 {
	font-size: 3.75rem;
	margin-bottom: 140px;
	}
    .about-me__description {
    padding: 0 4%;
    }

	.about-me__heading {
	font-size: 3.75rem;
    line-height: 7.5rem;
	}
}

.navbar-default .navbar-brand {
	color: #f1f1f1;
}

.main-nav__main-navigation a, .navbar-brand {
	font-size: 1.5rem;
}
.navbar-default .navbar-nav > li > a {
	color: #f1f1f1;
}

.navbar-collapse {
	border: none;
}

.intro-promo {
	text-align: center;
}

.intro-promo__site-logo {
	position: relative;
}

.intro-promo__site-logo-image {
	margin: 0 auto;
	margin-bottom: 50px;
}
.intro-promo__site-logo-text span {
	font-family: 'Nexa Bold';
	margin-bottom: 25px;
}

.scroll-link__more-icon {
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 50px;
}
.site-nav {
	display: flex;
	justify-content: center;
	border-bottom: 2px solid #bebebe;
}
.site-nav li {
	margin-right: 80px;
}
.site-nav li:last-child {
	margin-right: 0;
}
.site-nav--grey {
	color: #fff;
	margin-bottom: 75px;
}
.site-nav a {
	color: #bebebe;
	}
.site-nav a:hover {
	color: #5e5e5e;
}

@media (max-width: 768px) {
	.site-nav {
		display: none;
	}
	.main-nav__main-navigation li:first-child {
		display: none;
	}
.about-me__heading {
    font-size: 1.5rem;
    line-height: 2.25rem;
    text-align: center;
}
.about-me__description {
	padding: 5%;
}
.about-me__photo-img {
    text-align: center;
    margin-bottom: 20px;
}
}

.about-me__content {
	text-transform: none;
	line-height: 3.125rem;
}
.about-me__content:first-of-type {
    margin-bottom: 35px;
	}
.about-me__content:last-of-type {
	margin-bottom: 70px;
}
@media (min-width: 992px and max-width: 1300px) {
	.about-me__text {
		clear: left;
	}
}
.scroll-link {
	font-size: 1.125rem;
}
.scroll-link--white {
	color: #f1f1f1;
}
.scroll-link--grey {
	display: block;
	margin: 0 auto;
	margin-top: 70px;
	text-align: center;
	color: #bebebe;
}


.scroll-link--grey:hover, .scroll-link--grey:focus {
	color: #bebebe;
	text-decoration: underline;
}
.scroll-link--white:hover, .scroll-link--white:focus  {
	color: #f1f1f1;
	text-decoration: underline;
}


